// Tablet
$screen-tablet: 600px;
// Desktop
$screen-desktop: 1240px;

// Tablet devices
@mixin tablet {
	@media (min-width: #{$screen-tablet}) {
		@content;
	}
}

// Desktop devices
@mixin desktop {
	@media (min-width: #{$screen-desktop}) {
		@content;
	}
}


/* If you can't see it just hit space in here*/

body {
	font-family: 'Wendy One', sans-serif;
}

body {
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #374566), color-stop(100%, #010203));
	background-image: -webkit-radial-gradient(#374566, #010203);
	background-image: -moz-radial-gradient(#374566, #010203);
	background-image: -o-radial-gradient(#374566, #010203);
	background-image: radial-gradient(#374566, #010203);
}

span {
	text-transform: uppercase;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	//height: 100%;
	padding: 10px;
	margin: 0 auto;
	//position: relative;
}

.internal-container {
    display: flex;
	flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
}

.balloon {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 100%;
    height: 200px;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}

.balloon>div {
	width: 104px;
	height: 140px;
	background: rgba(182, 15, 97, 0.9);
	border-radius: 0;
	border-radius: 80% 80% 80% 80%;
	margin: 0 auto;
	position: absolute;
	padding: 10px;
	box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(1) {
	background: rgba(182, 15, 97, 0.9);
	left: 0%;
	box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
	-webkit-animation: balloon1 6s ease-in-out infinite;
	-moz-animation: balloon1 6s ease-in-out infinite;
	-o-animation: balloon1 6s ease-in-out infinite;
	animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(1):before {
	color: rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(2) {
	background: rgba(242, 112, 45, 0.9);
	left: 25%;
	box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
	-webkit-animation: balloon2 6s ease-in-out infinite;
	-moz-animation: balloon2 6s ease-in-out infinite;
	-o-animation: balloon2 6s ease-in-out infinite;
	animation: balloon2 6s ease-in-out infinite;
}

.balloon>div:nth-child(2):before {
	color: rgba(242, 112, 45, 0.9);
}

.balloon>div:nth-child(3) {
	background: rgba(45, 181, 167, 0.9);
	left: 50%;
	box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
	-webkit-animation: balloon4 6s ease-in-out infinite;
	-moz-animation: balloon4 6s ease-in-out infinite;
	-o-animation: balloon4 6s ease-in-out infinite;
	animation: balloon4 6s ease-in-out infinite;
}

.balloon>div:nth-child(3):before {
	color: rgba(45, 181, 167, 0.9);
}

.balloon>div:nth-child(4) {
	background: rgba(190, 61, 244, 0.9);
	left: 75%;
	box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
	-webkit-animation: balloon1 5s ease-in-out infinite;
	-moz-animation: balloon1 5s ease-in-out infinite;
	-o-animation: balloon1 5s ease-in-out infinite;
	animation: balloon1 5s ease-in-out infinite;
}

.balloon>div:nth-child(4):before {
	color: rgba(190, 61, 244, 0.9);
}

.balloon>div:nth-child(5) {
	background: rgba(180, 224, 67, 0.9);
	left: 65%;
	box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
	-webkit-animation: balloon3 5s ease-in-out infinite;
	-moz-animation: balloon3 5s ease-in-out infinite;
	-o-animation: balloon3 5s ease-in-out infinite;
	animation: balloon3 5s ease-in-out infinite;
}

.balloon>div:nth-child(5):before {
	color: rgba(180, 224, 67, 0.9);
}

.balloon>div:nth-child(6) {
	background: rgba(242, 194, 58, 0.9);
	left: 75%;
	box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
	-webkit-animation: balloon2 3s ease-in-out infinite;
	-moz-animation: balloon2 3s ease-in-out infinite;
	-o-animation: balloon2 3s ease-in-out infinite;
	animation: balloon2 3s ease-in-out infinite;
}

.balloon>div:nth-child(6):before {
	color: rgba(242, 194, 58, 0.9);
}

.balloon>div:before {
	color: rgba(182, 15, 97, 0.9);
	position: absolute;
	bottom: -11px;
	left: 52px;
	content: "▲";
	font-size: 1em;
}

span {
	font-size: 4.8em;
	color: white;
	position: relative;
	top: 30px;
	left: 50%;
	margin-left: -27px;
}


/*BALLOON 1 4*/

@-webkit-keyframes balloon1 {
	0%,
	100% {
		-webkit-transform: translateY(0) rotate(-6deg);
	}
	50% {
		-webkit-transform: translateY(-20px) rotate(8deg);
	}
}

@-moz-keyframes balloon1 {
	0%,
	100% {
		-moz-transform: translateY(0) rotate(-6deg);
	}
	50% {
		-moz-transform: translateY(-20px) rotate(8deg);
	}
}

@-o-keyframes balloon1 {
	0%,
	100% {
		-o-transform: translateY(0) rotate(-6deg);
	}
	50% {
		-o-transform: translateY(-20px) rotate(8deg);
	}
}

@keyframes balloon1 {
	0%,
	100% {
		transform: translateY(0) rotate(-6deg);
	}
	50% {
		transform: translateY(-20px) rotate(8deg);
	}
}


/* BAllOON 2 5*/

@-webkit-keyframes balloon2 {
	0%,
	100% {
		-webkit-transform: translateY(0) rotate(6eg);
	}
	50% {
		-webkit-transform: translateY(-30px) rotate(-8deg);
	}
}

@-moz-keyframes balloon2 {
	0%,
	100% {
		-moz-transform: translateY(0) rotate(6deg);
	}
	50% {
		-moz-transform: translateY(-30px) rotate(-8deg);
	}
}

@-o-keyframes balloon2 {
	0%,
	100% {
		-o-transform: translateY(0) rotate(6deg);
	}
	50% {
		-o-transform: translateY(-30px) rotate(-8deg);
	}
}

@keyframes balloon2 {
	0%,
	100% {
		transform: translateY(0) rotate(6deg);
	}
	50% {
		transform: translateY(-30px) rotate(-8deg);
	}
}


/* BAllOON 0*/

@-webkit-keyframes balloon3 {
	0%,
	100% {
		-webkit-transform: translate(0, -10px) rotate(6eg);
	}
	50% {
		-webkit-transform: translate(-20px, 30px) rotate(-8deg);
	}
}

@-moz-keyframes balloon3 {
	0%,
	100% {
		-moz-transform: translate(0, -10px) rotate(6eg);
	}
	50% {
		-moz-transform: translate(-20px, 30px) rotate(-8deg);
	}
}

@-o-keyframes balloon3 {
	0%,
	100% {
		-o-transform: translate(0, -10px) rotate(6eg);
	}
	50% {
		-o-transform: translate(-20px, 30px) rotate(-8deg);
	}
}

@keyframes balloon3 {
	0%,
	100% {
		transform: translate(0, -10px) rotate(6eg);
	}
	50% {
		transform: translate(-20px, 30px) rotate(-8deg);
	}
}


/* BAllOON 3*/

@-webkit-keyframes balloon4 {
	0%,
	100% {
		-webkit-transform: translate(10px, -10px) rotate(-8eg);
	}
	50% {
		-webkit-transform: translate(-15px, 20px) rotate(10deg);
	}
}

@-moz-keyframes balloon4 {
	0%,
	100% {
		-moz-transform: translate(10px, -10px) rotate(-8eg);
	}
	50% {
		-moz-transform: translate(-15px, 10px) rotate(10deg);
	}
}

@-o-keyframes balloon4 {
	0%,
	100% {
		-o-transform: translate(10px, -10px) rotate(-8eg);
	}
	50% {
		-o-transform: translate(-15px, 10px) rotate(10deg);
	}
}

@keyframes balloon4 {
	0%,
	100% {
		transform: translate(10px, -10px) rotate(-8eg);
	}
	50% {
		transform: translate(-15px, 10px) rotate(10deg);
	}
}

input {
    color: white;
}

.name {
	text-align: center;
	color: white;
    font-size: 3.5em;
}

.subtitle {
    text-align: center;
    color: white;
    font-size: 2.2rem;
}

// cake
$vanilla: #f0e4d0;
$chocolate: #553c13;
body {
	background-color: #333;
}

@mixin foodColoring($color) {
	background-color: $color;
	box-shadow: 0 2px 0px lighten($color, 5%), 0 4px 0px darken($color, 8.2%), 0 6px 0px darken($color, 8.4%), 0 8px 0px darken($color, 8.6%), 0 10px 0px darken($color, 8.8%), 0 12px 0px darken($color, 9%), 0 14px 0px darken($color, 9.2%), 0 16px 0px darken($color, 9.4%), 0 18px 0px darken($color, 9.6%), 0 20px 0px darken($color, 9.8%), 0 22px 0px darken($color, 10%), 0 24px 0px darken($color, 10.2%), 0 26px 0px darken($color, 10.4%), 0 28px 0px darken($color, 10.6%), 0 30px 0px darken($color, 10.8%);
}

.balloon-mobile {
	display: flex;
	//margin-left: 2%;
}

.balloon-tablet {
	display: none;
}

.balloon-desktop {
	display: none;
}

@include tablet() {
	.balloon-mobile {
		display: none;
	}
	.balloon-tablet {
		display: flex;
		//margin-left: 15%;
	}
	.balloon-desktop {
		display: none;
	}
	.balloon>div:nth-child(1) {
		left: 5%;
	}
	.balloon>div:nth-child(2) {
		left: 25%;
	}
	.balloon>div:nth-child(3) {
		left: 45%;
	}
	.balloon>div:nth-child(4) {
		left: 65%;
	}
	.balloon>div:nth-child(5) {
		left: 85%;
	}
}

@include desktop {
	.balloon-mobile {
		display: none;
	}
	.balloon-tablet {
		display: none;
	}
	.balloon-desktop {
		display: flex;
		//margin-left: 25%;
	}
	.balloon>div:nth-child(1) {
		left: 25%;
	}
	.balloon>div:nth-child(2) {
		left: 35%;
	}
	.balloon>div:nth-child(3) {
		left: 45%;
	}
	.balloon>div:nth-child(4) {
		left: 55%;
	}
	.balloon>div:nth-child(5) {
		left: 65%;
	}
	.balloon>div:nth-child(6) {
		left: 75%;
	}
}

.cake-wrap {
	width: 250px;
	height: 200px;
}

.cake {
	position: relative;
	width: 250px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -125px;
}

.plate {
	width: 270px;
	height: 110px;
	position: absolute;
	bottom: -10px;
	left: -10px;
	background-color: #ccc;
	border-radius: 50%;
	box-shadow: 0 2px 0 darken(#ccc, 10%), 0 4px 0 darken(#ccc, 10%), 0 5px 40px rgba(black, 0.5);
}

.cake>* {
	position: absolute;
}

.layer {
	position: absolute;
	display: block;
	width: 250px;
	height: 100px;
	border-radius: 50%;
	@include foodColoring($chocolate);
}

.layer-top {
	top: 0px;
}

.layer-middle {
	top: 33px;
}

.layer-bottom {
	top: 66px;
}

.icing {
	top: 2px;
	left: 5px;
	background-color: $vanilla;
	width: 240px;
	height: 90px;
	border-radius: 50%;
	&:before {
		content: "";
		position: absolute;
		top: 4px;
		right: 5px;
		bottom: 6px;
		left: 5px;
		background-color: lighten($vanilla, 3%);
		box-shadow: 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%);
		border-radius: 50%;
		z-index: 1;
	}
}

.drip {
	display: block;
	width: 50px;
	height: 60px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: $vanilla;
}

.drip1 {
	top: 53px;
	left: 5px;
	transform: skewY(15deg);
	height: 48px;
	width: 40px;
}

.drip2 {
	top: 69px;
	left: 181px;
	transform: skewY(-15deg);
}

.drip3 {
	top: 54px;
	left: 90px;
	width: 80px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.candle {
	background-color: #7B020B;
	width: 16px;
	height: 50px;
	border-radius: 8px / 4px;
	top: -20px;
	left: 50%;
	margin-left: -8px;
	z-index: 10;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 8px;
		border-radius: 50%;
		background-color: lighten(#7B020B, 10%);
	}
}

.flame {
	position: absolute;
	background-color: orange;
	width: 15px;
	height: 35px;
	border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
	top: -34px;
	left: 50%;
	margin-left: -7.5px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5), 0 0 60px rgba(orange, 0.5), 0 0 80px rgba(orange, 0.5);
	transform-origin: 50% 90%;
	animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
	0% {
		transform: skewX(5deg);
		box-shadow: 0 0 10px rgba(orange, 0.2), 0 0 20px rgba(orange, 0.2), 0 0 60px rgba(orange, 0.2), 0 0 80px rgba(orange, 0.2)
	}
	25% {
		transform: skewX(-5deg);
		box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5), 0 0 60px rgba(orange, 0.5), 0 0 80px rgba(orange, 0.5)
	}
	50% {
		transform: skewX(10deg);
		box-shadow: 0 0 10px rgba(orange, 0.3), 0 0 20px rgba(orange, 0.3), 0 0 60px rgba(orange, 0.3), 0 0 80px rgba(orange, 0.3)
	}
	75% {
		transform: skewX(-10deg);
		box-shadow: 0 0 10px rgba(orange, 0.4), 0 0 20px rgba(orange, 0.4), 0 0 60px rgba(orange, 0.4), 0 0 80px rgba(orange, 0.4)
	}
	100% {
		transform: skewX(5deg);
		box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5), 0 0 60px rgba(orange, 0.5), 0 0 80px rgba(orange, 0.5)
	}
}


/* external css: flickity.css */

* {
	box-sizing: border-box;
}

.carousel {
    width: 100%;
	//background: #EEE;
}

.carousel-cell {
	width: 66%;
	height: 300px;
	margin-right: 10px;
	background: #8C8;
	border-radius: 5px;
	counter-increment: gallery-cell;
}


/* cell number */

// .carousel-cell:before {
// 	display: block;
// 	text-align: center;
// 	content: counter(gallery-cell);
// 	line-height: 200px;
// 	font-size: 80px;
// 	color: white;
// }

.carousel-cell1 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image1.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell2 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image2.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell3 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image3.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell4 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image4.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell5 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image5.png") no-repeat center top;
    background-size: cover;
}

.carousel-cell6 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image6.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell7 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image7.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell8 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image8.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell9 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image9.jpg") no-repeat center top;
    background-size: cover;
}

.carousel-cell10 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image10.png") no-repeat center top;
    background-size: cover;
}

.carousel-cell11 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image11.png") no-repeat center top;
    background-size: cover;
}

.carousel-cell12 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image12.png") no-repeat center center;
    background-size: cover;
}
.carousel-cell13 {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/carrousel/image13.png") no-repeat center top;
    background-size: cover;
}

@include desktop {
    .carousel-cell {
        height: 600px;
    }

    .carousel-cell1 {
        background-size: contain;
    }
    
    .carousel-cell2 {
        background-size: contain;
    }
    
    .carousel-cell3 {
        background-size: contain;
    }
    
    .carousel-cell4 {
        background-size: contain;
    }
    
    .carousel-cell5 {
        background-size: contain;
    }
    
    .carousel-cell6 {
        background-size: contain;
    }
    
    .carousel-cell7 {
        background-size: contain;
    }
    
    .carousel-cell8 {
        background-size: contain;
    }
    
    .carousel-cell9 {
        background-size: contain;
    }
    
    .carousel-cell10 {
        background-size: contain;
    }
    
    .carousel-cell11 {
        background-size: contain;
    }
    
    .carousel-cell12 {
        background-size: contain;
    }
    .carousel-cell13 {
        background-size: contain;
    }
}

.secret-div {
    display: flex;
	flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.secret-image {
    height: 600px;
}

.secret-button {
    margin-bottom: 40px;
}

